/* TABLE OF CONTENTS
=============================
1. GLOBAL VARIABLES
2. GLOBAL STYLES
    2.1 GENERAL
    2.2 MAP
    2.3 MENU
    2.4 SIDEBAR
    2.5 NAVBAR
    2.6 BUTTONS
    2.7 TOOLTIPS
=============================
*/

/* 1. GLOBAL VARIABLES
=============================
*/

$map-height: 100vh;
$map-width: 100vw;
$sidebar-width: 100px;
$sidebar-height: 100px;

$z-overmap: 1000; // pretty high, doesn't display over map otherwise

$button-large: 48px;

$mobile-maxwidth: 768px;

// Colors

$white-lightest: #fff;
$white-lighter: #eee;

$gray-light: #aaa;
$gray-hover: #999;
$gray-press: #888;

/* 2. GLOBAL STYLES
=============================
2.1 GENERAL STYLES
*/

:root {
    // i prefer the light mode, so i'm keeping this commented until i'm done
    //color-scheme: light dark;
}

main {
    width: 100%;
    min-height: $map-height;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
}

.content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

body {
    margin: 0px;
}

svg {
    stroke: #333;
    stroke-width: 3px;
}

.hide {
    display: none !important;
}

.text-12 {
    font-size: 12px;
}

.center {
    justify-self: center;
}

/*
=============================
2.2 MAP STYLES
*/

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
#map {
    height: $map-height;
}

@media (max-width: 768px) {
    .map-container {
        left: 0;
    }
}

/*
=============================
2.3 MENU STYLES
*/

.menu-container {
    position: absolute;
    left: 0;
    top: 0;

    &[aria-expanded="true"] .button-navbar {
        left: calc($sidebar-width + 20px);
    }

    &[aria-expanded="false"] .button-navbar {
        left: 20px;
    }
}

@media (max-width: $mobile-maxwidth) {
    .menu-container {
        position: absolute;
        left: auto;
        top: auto;
        bottom: 0;
        right: 0;
    
        &[aria-expanded="true"] .button-navbar {
            bottom: calc($sidebar-height + 20px);
        }
    
        &[aria-expanded="false"] .button-navbar {
            bottom: 20px;
        }
    }
}

.menu-retract {
    animation-name: menu-retract;
    animation-duration: 200ms;
    animation-timing-function: ease;
}

.menu-expand {
    animation-name: menu-expand;
    animation-duration: 200ms;
    animation-timing-function: ease;
}

@keyframes menu-retract {
    from {
        left: $sidebar-width;
    }
    to {
        left: 0;
    }
}

@keyframes menu-expand {
    from {
        left: -$sidebar-width;
    }
    to {
        left: 0;
    }
}

@keyframes mobile-menu-retract {
    from {
        bottom: $sidebar-height;
    }
    to {
        bottom: 0;
    }
}

@keyframes mobile-menu-expand {
    from {
        bottom: -$sidebar-height;
    }
    to {
        bottom: 0;
    }
}

/*
=============================
2.4 SIDEBAR STYLES
*/

#sidebar {
    display: inline-flex;
}

.sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    min-width: calc($sidebar-width - 2em); // makes the map flow under the sidebar corners
    height: calc($map-height - 2em);
    padding: 1em;
    z-index: $z-overmap;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    color: light-dark(#222, $white-lighter);
    background: light-dark($white-lightest, #232323);
    box-shadow: 0px 2px 5px $gray-light;

    // adjusts the position of the button based on the sidebar state
    &[aria-expanded="true"] + .sidebar-drawer {
        left: $sidebar-width;
    }

    &[aria-expanded="false"] {
        left: -$sidebar-width;
    }
}

// this will be inherited by both the drawer tooltip and button
.sidebar-drawer {
    display: flex;
    position: absolute;
    top: calc($map-height / 2 - $button-large * 0.75);
    z-index: $z-overmap - 1; // this needs to be just below the sidebar, otherwise the shadow overlaps on it
}

.sidebar-drawer-button {
    cursor: pointer;
    height: calc($button-large * 1.5);
    width: calc($button-large / 2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background: light-dark(#ffffff86, #23232386);
    box-shadow: 0px 2px 5px $gray-light;
    
    &:hover {
        background: light-dark(#dadada86, #20202086);
        box-shadow: 0px 2px 5px $gray-hover;
    }

    &:active {
        background: light-dark(#cacaca86, #1b1b1b86);
        box-shadow: 0px 2px 3px $gray-press;
    }
}

.sidebar-header {
    border-bottom: solid 1px #eee;
}

.sidebar-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-element {
    margin: 5px 0 5px 0;

    &:first-of-type {
        margin-top: 20px;
    }

    &:last-of-type {
        margin-bottom: 20px;
    }
}

.sidebar-footer {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px #eee;
}

.mode-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px;

    width: calc($button-large + 10px);
}

.mode-name {
    margin-top: 5px;
}

.mode-input {
    display: none;

    &:checked + .mode-label {
        outline: 1px solid gray;
    }
}

.mode-icon {
    width: $button-large;
    height: $button-large;
    display: flex;
    margin: 5px;

    border-radius: 10px;

    background: lightgray;
}

.mode-label {
    cursor: pointer;
    width: 100%;
    height: 100%;

    border-radius: 12px;
    outline: solid 1px white;
    
    transition: all 200ms ease;

    &:hover {
        outline: solid 1px #ddd;
    }
}

@media (min-width: $mobile-maxwidth) {
    .mobile {
        display: none !important;
    }
}

@media (max-width: $mobile-maxwidth) {
    .sidebar-container {
        position: absolute;
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        height: calc($sidebar-height - 2em); // makes the map flow under the sidebar corners
        width: calc($map-width - 2em);
        padding: 1em;
        z-index: $z-overmap;

        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        color: light-dark(#222, $white-lighter);
        background: light-dark($white-lightest, #232323);
        box-shadow: 0px 2px 5px $gray-light;
    }

    #sidebar, .sidebar-drawer {
        display: none;
    }

    .mobile-hamburger {
        margin: 12px;
        position: absolute;
        top: 0px;
        display: flex;

        z-index: $z-overmap;
        width: $button-large;
        height: $button-large;

        background: white;
    }
}

/*
=============================
2.5 NAVBAR STYLES
*/

.button-navbar {
    position: absolute;
    top: 0px;
    left: calc($sidebar-width + 20px);

    display: flex;
    column-gap: 10px;

    z-index: $z-overmap;
    margin-top: 12px; // this aligns with the top of the zoom control buttons
    height: $button-large;
}

@media (max-width: $mobile-maxwidth) {
    .button-navbar {
        left: auto;
        top: auto;
        bottom: $sidebar-height;
        right: 0px;

        flex-direction: column-reverse;
        row-gap: 10px;

        margin-right: 10px;
        margin-bottom: 20px;
    }
}

/*
=============================
2.6 BUTTONS STYLES
*/

@media (min-width: $mobile-maxwidth) {
    // overrides starter style to accomodate desktop sidebar overflow
    .leaflet-right {
        right: 1em; // this should move back by 1 * $sidebar-width when sidebar collapses
    }
}

// removes border to fit style
.leaflet-touch .leaflet-bar {
    border: 0;
    outline: 0;
}

// fits button style
.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 3px 5px #888;

    &:hover[aria-disabled="false"] {
        background: #f4f4f4;
        box-shadow: 0px 2px 6px #666;
    }
    
    &:active[aria-disabled="false"] {
        background: #eaeaea;
        box-shadow: 0px 2px 3px #444;
    }
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 3px 5px #888;

    &:hover[aria-disabled="false"] {
        background: #f4f4f4;
        box-shadow: 0px 2px 6px #666;
    }
    
    &:active[aria-disabled="false"] {
        background: #eaeaea;
        box-shadow: 0px 2px 3px #444;
    }
}

// this needs to be aligned with the +/- zoom buttons from the map
.sq-button-container {

    & button {
        cursor: pointer;
        overflow: hidden;

        height: $button-large;
        width: $button-large;
        padding: 0px;
        
        border-radius: calc($button-large / 2);
        border: 0;
        outline: 0;

        background: #fff;
        box-shadow: 0px 3px 5px #888;

        &:hover {
            background: #f4f4f4;
            box-shadow: 0px 2px 6px #666;
        }
        
        &:active {
            background: #eaeaea;
            box-shadow: 0px 2px 3px #444;
        }
    }
}

.button-frame {
    max-width: $button-large;
}

.toggle-switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    position: relative;

    width: $button-large;
    height: calc($button-large / 2);
}

.toggle-input {
    display: none;

    &:checked + .toggle-label .toggle-slider {
        transform: translateX(24px);
        width: 18px;
        height: 18px;
        top: 3px;
        left: 2px;

        background: yellow;

        & .toggle-slider-fx {
            transform: scale(1);
        }
    }
}

.toggle-label {
    cursor: pointer;
    width: 100%;
    height: 100%;

    border-radius: 12px;
    
    background: light-dark(gray, $white-lightest);
}

.toggle-slider {
    display: block;
    position: relative;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;

    border-radius: 10px;

    background: light-dark($white-lightest, gray);

    transition: all 200ms ease;
}

// Hides part of the slider on dark mode, makes it look like a moon crescent
.toggle-slider-fx {
    display: block;
    position: relative;
    left: -7px;
    width: 18px;
    height: 18px;

    border-radius: 9px;

    background: light-dark(gray, white);
    transform: scale(0);

    transition: all 200ms ease;
}

/*
=============================
2.7 TOOLTIPS STYLES
*/

.tooltip-container {
    width: max-content;
    max-width: 9em;
    z-index: $z-overmap;
    padding: 0.5em;

    border-radius: 10px;

    background: light-dark(#ffffff, #23232386);
}

.tooltip-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;

    & > .tooltip {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        filter: drop-shadow(0px 3px 5px #aaa);
        opacity: 0;
        transition: opacity 250ms ease;

        &.visible {
            opacity: 1;
        }
    }

    & .tooltip-arrow {
        position: relative;
        z-index: $z-overmap;
        left: 5px;

        width: 10px;
        height: 10px;
        transform: rotate(45deg);

        background: light-dark(#ffffff, #23232386);
        overflow: hidden;
    }
}

.tooltip-bottom {

    & > .tooltip {
        position: relative;
        top: -3px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        filter: drop-shadow(0px 3px 5px #aaa);
        opacity: 0;
        transition: opacity 250ms ease;

        &.visible {
            opacity: 1;
        }
    }

    & .tooltip-arrow {
        position: relative;
        z-index: $z-overmap;
        top: 5px;

        width: 10px;
        height: 10px;
        transform: rotate(45deg);

        background: light-dark(#ffffff, #23232386);
        overflow: hidden;
    }
}

.tooltip-text {
    margin: 0 0.5em 0 0.5em;

    text-align: center;
    font-size: 12px;
}