/* TABLE OF CONTENTS
=============================
1. GLOBAL VARIABLES
2. GLOBAL STYLES
    2.1 GENERAL
    2.2 MAP
    2.3 SIDEBAR
    2.4 NAVBAR
    2.5 BUTTONS
=============================
*/

/* 1. GLOBAL VARIABLES
=============================
*/

$map-height: 100vh;
$sidebar-width: 100px;

$z-overmap: 1000; // pretty high, doesn't display over map otherwise

$button-large: 48px;

$mobile-maxwidth: 768px;

/* 2. GLOBAL STYLES
=============================
2.1 GENERAL STYLES
*/

:root {
    // i prefer the light mode, so i'm keeping this commented until i'm done
    //color-scheme: light dark;
}

main {
    width: 100%;
    min-height: $map-height;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
}

.content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

body {
    margin: 0px;
}

svg {
    stroke: #333;
    stroke-width: 3px;
}

/*
=============================
2.2 MAP STYLES
*/

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
#map {
    height: $map-height;
}

@media (max-width: 768px) {
    .map-container {
        left: 0;
    }
}

/*
=============================
2.3 SIDEBAR STYLES
*/

#sidebar {
    display: inline-flex;
}

.sidebar-container {
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: center;
    min-width: calc($sidebar-width - 2em); // makes the map flow under the sidebar corners
    height: calc($map-height - 2em);
    padding: 1em;
    z-index: $z-overmap;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    color: light-dark(#222, #eee);
    background: light-dark(#fff, #232323);
    box-shadow: 0px 2px 5px #aaa;
}

.sidebar-drawer {
    position: absolute;
    top: calc($map-height / 2 - $button-large * 0.75);
    z-index: $z-overmap;

    height: calc($button-large * 1.5);
    width: calc($button-large / 2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background: light-dark(#ffffff86, #23232386);
    box-shadow: 0px 2px 5px #aaa;
}

@media (max-width: $mobile-maxwidth) {
    #sidebar, .sidebar-drawer {
        display: none;
    }
}

/*
=============================
2.4 NAVBAR STYLES
*/

.button-navbar {
    position: absolute;

    display: flex;
    column-gap: 10px;
    align-items: center;

    z-index: $z-overmap;
    margin-left: calc($sidebar-width + 4em); // this should move back by 1 * $sidebar-width when sidebar collapses
    margin-top: 1em;
    height: $button-large;
}

@media (max-width: $mobile-maxwidth) {
    .button-navbar {
        bottom: 0px;
        right: 0px;

        flex-direction: column-reverse;
        row-gap: 10px;

        margin-right: 10px;
        margin-bottom: 20px;
    }
}

/*
=============================
2.5 BUTTONS STYLES
*/

@media (min-width: $mobile-maxwidth) {
    // overrides starter style to accomodate desktop sidebar overflow
    .leaflet-left {
        left: calc($sidebar-width + 1em); // this should move back by 1 * $sidebar-width when sidebar collapses
    }
}

// removes border to fit style
.leaflet-touch .leaflet-bar {
    border: 0;
    outline: 0;
}

// fits button style
.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 3px 5px #888;

    &:hover {
        background: #f4f4f4;
        box-shadow: 0px 2px 6px #666;
    }
    
    &:active {
        background: #eaeaea;
        box-shadow: 0px 2px 3px #444;
    }
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 3px 5px #888;

    &:hover {
        background: #f4f4f4;
        box-shadow: 0px 2px 6px #666;
    }
    
    &:active {
        background: #eaeaea;
        box-shadow: 0px 2px 3px #444;
    }
}

// this needs to be aligned with the +/- zoom buttons from the map
.sq-button-container {

    & button {
        cursor: pointer;

        height: $button-large;
        width: $button-large;
        padding: 0px;
        
        border-radius: calc($button-large / 2);
        border: 0;
        outline: 0;

        background: #fff;
        box-shadow: 0px 3px 5px #888;

        &:hover {
            background: #f4f4f4;
            box-shadow: 0px 2px 6px #666;
        }
        
        &:active {
            background: #eaeaea;
            box-shadow: 0px 2px 3px #444;
        }
        // TODO ADD MOBILE DISPLAY
    }
}

