/* TABLE OF CONTENTS
=============================
1. GLOBAL VARIABLES
2. GLOBAL STYLES
    2.1 MAP STYLES
=============================
*/

/* 1. GLOBAL VARIABLES
=============================
*/

$map-height: 800px;

/* 2. GLOBAL STYLES
=============================
2.1 MAP STYLES PLACEHOLDER
*/

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: $map-height;
  }
  
  #map {
    height: $map-height;
  }