/* TABLE OF CONTENTS
=============================
1. GLOBAL VARIABLES
2. GLOBAL STYLES
    2.1 GENERAL
    2.2 MAP
    2.3 SIDEBAR
    2.4 BUTTONS
=============================
*/

/* 1. GLOBAL VARIABLES
=============================
*/

$map-height: 100vh;

$sidebar-width: 100px;

$button-large: 48px;

/* 2. GLOBAL STYLES
=============================
2.1 GENERAL STYLES
*/

:root {
    // i prefer the light mode, so i'm keeping this commented until i'm done
    //color-scheme: light dark;
}

main {
    width: 100%;
    min-height: $map-height;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
}

.content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

body {
    margin: 0px;
}

svg {
    stroke: #333;
    stroke-width: 3px;
}

/*
=============================
2.2 MAP STYLES
*/

.map-container {
    position: absolute;
    top: 0;
    left: $sidebar-width;
    right: 0;
    bottom: 0;
}
  
#map {
    height: $map-height;
}

@media (max-width: 768px) {
    .map-container {
        left: 0;
    }
}

/*
=============================
2.3 SIDEBAR STYLES
*/

#sidebar {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: calc($sidebar-width - 2em);
    height: $map-height;
    padding: 1em;

    color: light-dark(#222, #eee);
    background-color: light-dark(#fff, #232323);
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
}

/*
=============================
2.4 BUTTONS STYLES
*/

// this needs to be aligned with the +/- zoom buttons from the map
.sq-button-container {
    position: absolute;
    top: 2em;
    left: 4em;
    z-index: 1000; // pretty high, doesn't display over map otherwise

    & button {
        cursor: pointer;

        height: $button-large;
        width: $button-large;
        padding: 0px;
        
        border-radius: calc($button-large / 2);
        border: 0;
        outline: 0;

        background: #fff;
        box-shadow: 0px 3px 5px #888;

        &:hover {
            background: #f4f4f4;
            box-shadow: 0px 2px 6px #666;
        }
        // TODO ADD ONCLICK EFFECT (darken background, maybe animation?)
    }
}

