/* TABLE OF CONTENTS
=============================
1. GLOBAL VARIABLES
2. GLOBAL STYLES
    2.1 GENERAL
    2.2 MAP
    2.3 MENU
    2.4 SIDEBAR
    2.5 NAVBAR
    2.6 BUTTONS
    2.7 TOOLTIPS
=============================
*/

/* 1. GLOBAL VARIABLES
=============================
*/

$map-height: 100vh;
$sidebar-width: 100px;

$z-overmap: 1000; // pretty high, doesn't display over map otherwise

$button-large: 48px;

$mobile-maxwidth: 768px;

/* 2. GLOBAL STYLES
=============================
2.1 GENERAL STYLES
*/

:root {
    // i prefer the light mode, so i'm keeping this commented until i'm done
    //color-scheme: light dark;
}

main {
    width: 100%;
    min-height: $map-height;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
}

.content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

body {
    margin: 0px;
}

svg {
    stroke: #333;
    stroke-width: 3px;
}

.hide {
    display: none;
}

/*
=============================
2.2 MAP STYLES
*/

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
#map {
    height: $map-height;
}

@media (max-width: 768px) {
    .map-container {
        left: 0;
    }
}

/*
=============================
2.3 MENU STYLES
*/

.menu-container {
    position: absolute;
    left: 0;
    top: 0;

    &[aria-expanded="true"] .button-navbar {
        left: calc($sidebar-width + 20px);
    }

    &[aria-expanded="false"] .button-navbar {
        left: 20px;
    }
}

@media (max-width: $mobile-maxwidth) {
    .menu-container {
        position: static;
    }
}

.menu-retract {
    animation-name: menu-retract;
    animation-duration: 200ms;
    animation-timing-function: ease;
}

.menu-expand {
    animation-name: menu-expand;
    animation-duration: 200ms;
    animation-timing-function: ease;
}

@keyframes menu-retract {
    from {
        left: $sidebar-width;
    }
    to {
        left: 0;
    }
}

@keyframes menu-expand {
    from {
        left: -$sidebar-width;
    }
    to {
        left: 0;
    }
}

/*
=============================
2.4 SIDEBAR STYLES
*/

#sidebar {
    display: inline-flex;
}

.sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    min-width: calc($sidebar-width - 2em); // makes the map flow under the sidebar corners
    height: calc($map-height - 2em);
    padding: 1em;
    z-index: $z-overmap;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    color: light-dark(#222, #eee);
    background: light-dark(#fff, #232323);
    box-shadow: 0px 2px 5px #aaa;

    // adjusts the position of the button based on the sidebar state
    &[aria-expanded="true"] + .sidebar-drawer {
        left: $sidebar-width;
    }

    &[aria-expanded="false"] {
        left: -$sidebar-width;
    }
}

// this will be inherited by both the drawer tooltip and button
.sidebar-drawer {
    display: flex;
    position: absolute;
    top: calc($map-height / 2 - $button-large * 0.75);
    z-index: $z-overmap - 1; // this needs to be just below the sidebar, otherwise the shadow overlaps on it
}

.sidebar-drawer-button {
    cursor: pointer;
    height: calc($button-large * 1.5);
    width: calc($button-large / 2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background: light-dark(#ffffff86, #23232386);
    box-shadow: 0px 2px 5px #aaa;
    
    &:hover {
        background: light-dark(#dadada86, #20202086);
        box-shadow: 0px 2px 5px #999;
    }

    &:active {
        background: light-dark(#cacaca86, #1b1b1b86);
        box-shadow: 0px 2px 3px #888;
    }
}

.sidebar-retract_animation {
    animation-name: sidebar-retract;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

.sidebar-expand_animation {
    animation-name: sidebar-expand;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

.drawer-retract_animation {
    animation-name: drawer-retract;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

.drawer-expand_animation {
    animation-name: drawer-expand;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

@media (max-width: $mobile-maxwidth) {
    #sidebar, .sidebar-drawer {
        display: none;
    }
}

@keyframes sidebar-retract {
    from {
        left: 0;
    }
    to {
        left: -$sidebar-width;
    }
}

@keyframes sidebar-expand {
    from {
        left: -$sidebar-width;
    }
    to {
        left: 0;
    }
}

@keyframes drawer-retract {
    from {
        left: $sidebar-width;
    }
    to {
        left: 0;
    }
}

@keyframes drawer-expand {
    from {
        left: 0;
    }
    to {
        left: $sidebar-width;
    }
}

/*
=============================
2.5 NAVBAR STYLES
*/

.button-navbar {
    position: absolute;
    top: 0px;
    left: calc($sidebar-width + 20px);

    display: flex;
    column-gap: 10px;
    align-items: center;

    z-index: $z-overmap;
    margin-top: 12px; // this aligns with the top of the zoom control buttons
    height: $button-large;
}

@media (max-width: $mobile-maxwidth) {
    .button-navbar {
        left: auto;
        top: auto;
        bottom: 0px;
        right: 0px;

        flex-direction: column-reverse;
        row-gap: 10px;

        margin-right: 10px;
        margin-bottom: 20px;
    }
}

/*
=============================
2.6 BUTTONS STYLES
*/

@media (min-width: $mobile-maxwidth) {
    // overrides starter style to accomodate desktop sidebar overflow
    .leaflet-right {
        right: 1em; // this should move back by 1 * $sidebar-width when sidebar collapses
    }
}

// removes border to fit style
.leaflet-touch .leaflet-bar {
    border: 0;
    outline: 0;
}

// fits button style
.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 3px 5px #888;

    &:hover[aria-disabled="false"] {
        background: #f4f4f4;
        box-shadow: 0px 2px 6px #666;
    }
    
    &:active[aria-disabled="false"] {
        background: #eaeaea;
        box-shadow: 0px 2px 3px #444;
    }
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 3px 5px #888;

    &:hover[aria-disabled="false"] {
        background: #f4f4f4;
        box-shadow: 0px 2px 6px #666;
    }
    
    &:active[aria-disabled="false"] {
        background: #eaeaea;
        box-shadow: 0px 2px 3px #444;
    }
}

// this needs to be aligned with the +/- zoom buttons from the map
.sq-button-container {

    & button {
        cursor: pointer;
        overflow: hidden;

        height: $button-large;
        width: $button-large;
        padding: 0px;
        
        border-radius: calc($button-large / 2);
        border: 0;
        outline: 0;

        background: #fff;
        box-shadow: 0px 3px 5px #888;

        &:hover {
            background: #f4f4f4;
            box-shadow: 0px 2px 6px #666;
        }
        
        &:active {
            background: #eaeaea;
            box-shadow: 0px 2px 3px #444;
        }
    }
}

/*
=============================
2.7 TOOLTIPS STYLES
*/

.tooltip {
    filter: drop-shadow(0px 3px 5px #aaa);
    opacity: 0;
    transition: opacity 250ms ease;
}

.tooltip.visible {
    opacity: 1;
}

.tooltip-container {
    width: max-content;
    max-width: 9em;
    z-index: $z-overmap;
    padding: 0.5em;

    border-radius: 10px;

    background: light-dark(#ffffff, #23232386);
}

.tooltip-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;

    & > .tooltip-arrow {
        position: relative;
        z-index: $z-overmap;
        left: 5px;

        width: 10px;
        height: 10px;
        transform: rotate(45deg);

        background: light-dark(#ffffff, #23232386);
        overflow: hidden;
    }
}

.tooltip-text {
    margin: 0 0.5em 0 0.5em;

    text-align: center;
    font-size: 12px;
}